.container {
  width: 1280px;
}

.flex {
  display: flex;
  /* justify-content: space-evenly; */
  /* flex-direction:; */
  /* flex-wrap: wrap-reverse; */
  /* justify-content: space-evenly; */
  gap: 10px 20px;
  justify-content: center;
  align-items: stretch;
}

.itmes {
  background-color: aqua;
  padding: 30px 50px;
}
